/**Helper

**/

/** TYPO **/
h1, h2 {
  font-size: 1.8rem;
  font-family: raleway;
  color: #7a3060;
}
h3 {
	font-size: 1.6rem;
  font-family: raleway thin;
  color: grey;
}
p {
	font-size: 1.5rem;
}
#section1 p {
	font-size: 1rem;
}
#section2 h2 {
	color: #fffd15;
}
footer p {
	font-size: 1rem;
	}
.nav-wrapper {
	background-color: #21a0a0;
}
header {
  position: relative;
  display: flex;
  background-image: ;
 /** background-color:#fffd15;**/
  background-size: cover;
  background-position:center center;
  height: 100vh;
}

.logo {
	z-index: 2;
}

.content {
  margin: auto;
  z-index: 2;
}

#video-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

video {
  width: 100%;
  /*height: 100%;*/
}

.tagline span {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.tagline span ul li {
  display: none;
}

.tagline span ul li.display {
  display: block !important;
}

.tagline h1 {
  padding-right: 50px;
}

.social a {
	padding: 5px;
}

#mapid {
  height: 500px;
}

#section1, #section2 {
padding-top: 50px;
padding-bottom: 50px;
}
#section2 {
	background-color: #7a3060;
}

.margin-top {
	margin-top: 50px;

}
/**.activator img {
	margin: 30px;
}**/
.separator {
	margin-bottom: 30px;

}
.divider {
	background-color : white;
}

#sidenav-overlay {
  z-index: 1;
}
.no-margin-bottom {
	margin-bottom: 0!important;
}

.page-footer {
	background-color: #fffd15;
}
blockquote {
	font-family: raleway;
	color: #7a3060;
	border-color: #21a0a0;
	font-size: 1rem;
}
#carte {
	height: 93vh;
}
#title-carte {
	height: 7vh;
	background-color: #fffd15;
	padding : 5px;
}
#title-carte span {
	color:#7a3060;
	font-family: raleway;
}



/**MEDIA QUERIES**/

@media all and (min-width: 601px){
	blockquote {
		font-size: 1.5rem;
	}
}
@media all and (min-width: 1200px){
	blockquote {
		font-size: 2rem;
	}
}
